@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

a{
  position: relative;
  font-size: 3em;
  transition:ease-in-out 1s;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-decoration:none;
}

a:hover{
  font-size: 5em;
  text-decoration: underline;
}

p{
  font-size: 2em;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

h1{
  font-size: 4em;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

html{
  min-height: 100vh;
  background:linear-gradient(0deg, hsl(350,100%, 50%), hsl(275, 100%, 50%));
}

.logo{
  display: inline-block;
  position: relative;
  margin-left: 5%;
  margin-top:5%;
}

.logo img{
  border-radius:35px;
}

.texte{
  display: inline-block;
  position:absolute;
  padding-left: 4%;
  padding-bottom: 10%;
}

ul {
    list-style-type: none;
    align-items: center;
}

li{
  position:relative;
  margin: 10px;
}

header{
  position: relative;
  padding-bottom: 7%;
}

